.section {
  margin: 5rem auto 0;
  padding: 5rem 1rem;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}
.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 2rem;
  font-weight: 600;
}
.text {
  color: var(--text-color);
  font-size: 0.9rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 0;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 9rem;

}
.techStack {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}
.techItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--text-color);
  border-radius: 10%;
  padding: 1rem;
}
.techText {
  color: var(--text-color);
  font-size: 0.9rem;
}

.icon {
  font-size: 3rem;
  color: var(--tech-icon);
}


@media (max-width: 768px) {
  .section {
    margin: 6.5rem auto 0;
    padding: 0 1rem;
  }
  .title {
  font-size: 1.25rem;
}
.text {
  font-size: 0.7rem;
}
  .container {
    gap: 1.5rem;
    margin-top: 2rem;
  }
  .techStack {
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .techItem {
    padding: 0.7rem;
  }
  .techText {
    font-size: 0.8rem;
  }
  .icon {
  font-size: 2.5rem;
}
}

/* Mobile */
@media (max-width: 480px) {
  .section {
    margin: 5rem auto 0;
    padding: 3rem 1rem;
  }
  .title {
    font-size: 1rem;
  }
  .text {
    font-size: 0.6rem;
  }
  .container {
    gap: 1rem;
    margin-top: 1.8rem;
  }
  .techStack {
    gap: 1.2rem;
    grid-template-columns: repeat(2, 1fr);
  }
    .techItem {
    padding: 0.6rem;
  }
  .techText {
    font-size: 0.7rem;
  }
  .icon {
  font-size: 2rem;
}
}